@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Playball&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playball", cursive;

}

.sp {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    position: relative;
    background-image: url('https://media.istockphoto.com/id/1603977255/vector/white-background-abstract-neutral-texture-subtle-geometric-wallpaper-futuristic-clean-lines.webp?a=1&b=1&s=612x612&w=0&k=20&c=kUIuBv0lewUGR0B1KCxV-jBuCp66IUpw6pOkfSE4CK4=');
    background-position: center;
    background-size: cover;
    background-color: aqua;
}


.profile {
    justify-content: center;
    align-items: center;
}

.profile img {
    width: 150px;
    height: 150px;

    margin-bottom: 1rem;
    border-radius: 50%;
    border: 2px solid blue;
    
}

.heading {
    font-size: 2rem;
    font-family: "Bricolage Grotesque", sans-serif;
    color: rgb(21, 21, 23);
    font-weight: 800;




}

.paragraph {
    font-family: 1.25rem;
    max-width: 600px;
    line-height: 1.6;
    letter-spacing: 2px;
    margin: auto;
    padding: 2rem;
    font-weight: 300;

}

.highlight {
    -webkit-text-stroke: 1px blue;
    font-family: "Bricolage Grotesque", sans-serif;
    color: transparent;



}

.btn {
    background-color: blue;
    font-family: "Bricolage Grotesque", sans-serif;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    text-decoration: none;
    letter-spacing: 1px;
    margin-right: 1rem;

}

.btn:hover {
    background: transparent;
    border: 1px solid blue;
    color: blue;
}

.btn1 {
    background-color: transparent;
    font-family: "Bricolage Grotesque", sans-serif;
    color: blue;
    padding: 0.5rem 1rem;
    border: 1px solid blue;
    border-radius: 8px;
    text-decoration: none;
    letter-spacing: 1px;

}

.btn1:hover {
    background: transparent;
    border: 1px solid blue;
    color: blue;
}

.button {
    padding: 1rem;
    gap: 1rem;
}

/*-------------------About---------*/

.about {

    background: rgb(131, 174, 186);
    padding: 80px 60px;
}

.more {
    max-width: 800px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.about-text {
    flex: 1;
}

.head2 {
    font-family: "Bricolage Grotesque", sans-serif;
    color: blue;
    text-transform: capitalize;
    text-decoration: underline;
    color: #063bb8;
    font-size: 2rem;
    letter-spacing: -0.02rem;

}

.paragraph2 {
        font-family: "Bricolage Grotesque", sans-serif;
    font-size: 1rem;
    color: black;
   
    padding-top: 1rem;
    line-height: 1.8;
    font-weight: 310;
    letter-spacing: 1px;

}

button {
    padding: 0.5rem 1rem;
    border: 1px solid #000;
    margin-top: 1rem;
    color: #2b06e4;
    letter-spacing: 1px;
    font-family: "Bricolage Grotesque", sans-serif;
    border-radius: 5px;

}

.about-image{
    flex: 1;
    text-align: center;

}
.about-image img {
    width: 100%;
    max-width: 200px;
    border: 2px solid #fff;
    height: 200px;
    border-bottom-right-radius: 12px;

}

/*------------------skill------------------*/
.section1 {
    background-color: #fff;

    padding: 80px 60px;
    text-align: center;

}

.skill {


    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 25px;


}

.card {
    background-color: #7cc78b;
    border-radius: 100px;
    padding: 20px;
    width: 120px;
    border: 0.5px solid rgb(16, 16, 19);
}

.card img {
    width: 80px;
    height: 80px;
}

.head {
    font-family: "Bricolage Grotesque", sans-serif;
    color: #2b06e4;
    text-decoration: underline;



}

/*------Protfolio-----*/

.project{
    padding: 80px 60px;
    background-color:  rgb(131, 174, 186);
    text-align: center;
}
.projectcard{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    flex-direction: column;
    gap: 18px;
    margin-top: 18px;
}
.card2{
    border:  1px solid;
    background-color: rgb(254, 254, 254);
    border-radius: 15px;
    overflow: hidden;
    padding: 1rem;


}
.card2 img{
    width: 100%;
    height: 200px;
    border-radius: 6px;
    object-fit: cover;
    overflow: hidden;
  


}
 h3{
    font-family: "Bricolage Grotesque", sans-serif;
    margin-top: 15px;
    color: blue;text-align: left;
    text-align: left;


 }

 .ptext{
margin-top: 1rem;
text-align: left;
letter-spacing: 1px;
line-height: 1.4;
 font-family: "Bricolage Grotesque", sans-serif;

 }
 /*----contact me----*/

 .paragp{
 max-width: 800px;
 margin: auto;
 padding: 1rem;
 font-family: "Bricolage Grotesque", sans-serif;


 }

 .project1{ 
    
  background: #fff;
}